# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pytype
.pytype/

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode
.vscode/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Mac / Linux
.DS_Store
Thumbs.db

# Logs
*.log

# Uvicorn logs or reload triggers
reload.log

combined_fastapi_code.txt